<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Tracker</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="enter">
        <h2 class="hd1">Email Successfully Sent To Employee Mail id</h2>
        <h2 class="hd2"> Go Back</h2>
        <form action="/enter" method="POST">
            <button  class="btn1" type="submit">Go Back</button>
        </form>

    </div>

</body>

</html>